.home-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}
.for-picture img{
    height: 400px;
    width: 900px;
    margin-top: 20px;
    border-radius: 20px;
}

.for-picture::before {
    content: ""; 
    position: absolute;
    top: 92px;
    left: 224px;
    width: 900px;
    height: 400px;
    background-color: black;
    opacity: .4;
    border-radius: 20px;
}
.quotes{
  position: absolute;
    color:black;
    top: 350px;
    left: 350px;
}

/* reponsive  */
@media screen and (max-width: 600px){
    .home-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
   
    .for-picture img{
        height: 200px;
        width: 300px;
        margin-top: 20px;
        border-radius: 20px;
    }
    .for-picture::before {
        content: ""; 
        position: absolute;
        top: 90px;
        left: 76px;
        width: 300px;
        height: 200px;
        background-color: black;
        opacity: .4;
        border-radius: 20px;
    }
    .quotes {
        position: absolute;
          color:black;
          top: 220px;
          left: 78px;
        
      }
      .quotes h1{
        font-size: 15px;
        font-weight: bold;
      }
      .quotes p{
        font-size: 12px;
        font-weight: bold;
      }
}