.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#3b4564; 
}
.header a{
    text-decoration: none;
    margin-left: 10px;
    font-weight: 500;
    border: 1px solid gray;
    padding: 7px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
}


.header a:hover{
    color: black;
    background-color: darkcyan;
}