#container{
   
    margin: 20px auto;
    border-radius: 30px;
    
}

@media screen and ( mix-width: 600px){
    #container{
        
        margin: 20px auto;
        border-radius: 30px;
       
    }
}